<div class="card mb-3">
    <div class="row g-0" style="max-width: 540px; height:250px">
        <div class="col-md-4">
            <img src="assets/img/noimage.png" width="100%" height="100%">
        </div>
        <div class="col-md-8">
            <div class="card-body vertically-justify">
                <h3 class="card-title">{{titulo}}</h3>
                <p class="card-text ">
                    <small *ngIf="descripcion !== ''" class="text-justify">
                    {{descripcion | truncateText:180}}
                </small>
                    <small *ngIf="descripcion === ''">
                    texto no proveido
                </small>
                </p>
                <app-add-cart [product]="product"></app-add-cart>
            </div>
        </div>
    </div>
</div>