<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Carrito de compras</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

        <table class="table table-striped" *ngIf="this.cart.length > 0">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.cart; index as i">
                    <th scope="row">{{item.title}}</th>
                    <td>
                        <button [ngClass]="{'disabled': item.quanti ==1} " (click)="removeElementFromCart(item.id)" class="btn btn-danger">-</button> {{item.quanti}}
                        <button (click)="addElementToCart(item.id)" class="btn btn-success">+</button>
                    </td>
                    <td> {{ item.price | currency }}</td>
                    <td> {{ item.price * item.quanti | currency }}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="borrarDelCarrito(item)">
            <i class="fas fa-trash-alt"></i>
          </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="3">{{getTotal() | currency}}</td>
                </tr>
            </tbody>
        </table>

        <h1 *ngIf="cart.length <= 0">No hay productos en el carrito</h1>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="pagar(modal)" *ngIf="cart.length > 0">Realizar pago</button>
    </div>
</ng-template>

<button class="btn btn-outline-primary mx-2" (click)="open(content)">
    <i class="fas fa-shopping-cart"></i>
    {{"  "}}
    <span class="badge bg-danger">{{cart.length}}</span>
</button>