<!-- Barra de ordenar y boton de crear y carrito de compras -->
<div class="row mt-3">

    <!-- Columna de ordenar -->
    <div class="col-6">
        <!-- Barra de ordenar productos -->
        <select class="form-select">
      <option selected [disabled]="true">Ordenar</option>
      <option value="1">Del mas reciente al mas antiguo</option>
      <option value="2">Del mas antiguo al mas reciente</option>
    </select>
    </div>

    <!-- Columna carrito y crear producto -->
    <div class="col-6">
        <!-- Boton crear -->
        <button class="btn btn-success mx-1" (click)="open(content)">
      Crear nuevo producto
    </button>

        <!-- Carrito de compras -->
        <app-cart #content2></app-cart>


    </div>

</div>

<!-- Productos listados -->
<div class="row">

    <div class="col-3 my-3" *ngFor="let product of products">
        <app-products [titulo]="product.title" [descripcion]="product.description" [product]="product" #product.id></app-products>
    </div>

</div>

<!-- Modal para la creacion de productos -->

<ng-template #content let-modal [formGroup]="productForm">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear Producto</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form>

            <div class="form-group">

                <label>Titulo</label>
                <input type="text" class="form-control" formControlName="title">

                <label>Descripcion</label>
                <input type="text" class="form-control" formControlName="description">

                <label>Precio</label>
                <input type="text" class="form-control" formControlName="price">


            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="crearProducto(modal)">Guardar Producto</button>
    </div>
</ng-template>